<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
</head>
<body>
    <h1>Calcular o índice de massa corporal utilizando o método POST</h1>
    <form class="form-control" action="calcular_imc_post" method="post">
        <label class="form-label">Sua altura</label>
        <input class="form-control" type="text" name="txt_altura" > <br>
        <label class="form-label">Seu peso</label>
        <input class="form-control" type="text" class="form-control-plaintext" name="txt_peso">
        <input class="btn btn-primary" type="submit" value="Calcular"> <!--O submit vai submeter, quando clica em "Calcular", o formulário para a rota do action "calcular_imc_post"-->
        <input class="btn btn-primary" type="reset" value="Limpar">
    </form>
    {{ result_imc }}

</body>
</html>