<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
    <title>Cadastrar Usuário</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Cadastro de Usuário</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <h1>Cadastrar um novo usuário</h1>

    <div class="mt-2">
        <form method="post" class=>
            <div class="form-group w-50 p-3">
                <label for="name">Nome</label>
                <input type="number" class="form-control" name="name">
            </div>
            <div class="form-group w-50 p-3">
                <label for="email">Email</label>
                <input type="number" class="form-control" name="email">
            </div>
            <div class="form-group w-50 p-3">
                <label for="password">Senha</label>
                <input type="number" class="form-control" name="password">
            </div>
            
            <div class="w-50 text-center">
                <button type="submit" class="btn btn-primary pt-2">Cadastrar</button>
            </div>
            
        </form>
    </div>
    
</body>
</html>